.detail-specialty-container {
    .description-specialty {
      padding: 10px;
      margin: 15px 0;
      background-color: white;
  
      h1,
      h2,
      h3 {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .detail-specialty-body {
      padding: 0 100px;
      background-color: #eee;
      display: flex;
      flex-direction: column;
    }
    .search-sp-doctor {
      select {
        height: 30px;
        padding: 5px 8px;
        border: none;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    .each-doctor {
      display: flex;
      width: 100%;
      min-height: 300px;
      margin: 15px 0;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
      border-radius: 8px;
      .dt-content-left {
        width: 50%;
        border-right: 1px solid #ddd;
      }
      .dt-content-right {
        width: 50%;
        padding: 10px;
        .doctor-schedule {
          .doctor-schedule-container {
            border-right: unset !important;
          }
        }
        .doctor-extra-infor {
          border-top: 1px solid #ddd;
          margin-top: 10px;
          padding-top: 10px;
        }
      }
    }
  }