.doctor-detail-container {
    height: 500px;
    .intro-doctor {
      margin: 0 100px;
      display: flex;
      .content-left {
        background: center center no-repeat;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 10px 20px;
      }
      .content-right {
        width: 80%;
        padding-left: 10px;
        .up {
          font-size: 20px;
          font-weight: 600;
          padding-top: 15px;
        }
        .down {
          padding-top: 10px;
        }
      }
    }
    .schedule-doctor {
      padding-block: 10px;
      min-height: 200px;
      .content-left {
      }
      .content-right {
      }
    }
    .detail-infor-doctor {
      border-top: 1px solid#ddd;
      border-bottom: 1px solid#ddd;
      background-color: #f9f9f9;
      padding: 10px 0;
      h3 {
        font-size: 17px;
      }
      img {
        width: 100%;
      }
    }
    .comment-doctor {
      height: 50px;
    }
  }