.doctor-schedule-container {
    border-right: 1px solid #ddd;
  
    .all-schedule {
      select {
        border: none;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        outline: none;
        padding: 10px 0;
        color: #337ab7;
        font-weight: 600;
      }
    }
    .all-available-time {
      .text-calendar {
        margin: 10px 0;
        color: #333;
        i {
          margin-right: 5px;
        }
        span {
          text-transform: uppercase;
        }
      }
      .time-content {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        flex-direction: column;
        .time-content-btns {
          display: flex;
          gap: 15px;
          flex-wrap: wrap;
          button {
            padding: 8px 10px;
            border: none;
            outline: none;
            background-color: #fff04b;
  
            border-radius: 3px;
            font-weight: 600;
            color: #333;
            &:hover {
              background-color: #45c3d2;
              color: white;
            }
          }
          .btn-vi {
            min-width: 120px;
          }
          .btn-en {
            min-width: 160px;
          }
          .no-schedule {
            font-style: italic;
            font-size: 14px;
          }
        }
        .time-content-freeze-btns {
          display: flex;
          gap: 15px;
          flex-wrap: wrap;
          button {
            padding: 8px 10px;
            border: none;
            outline: none;
            background-color: #cccccc;
  
            border-radius: 3px;
            font-weight: 600;
            color: #333;
            &:hover {
              // background-color: #45c3d2;
              color: white;
              opacity: 0.6;
              cursor: default;
            }
          }
          .btn-vi {
            min-width: 120px;
          }
          .btn-en {
            min-width: 160px;
          }
          .no-schedule {
            font-style: italic;
            font-size: 14px;
          }
        }
        .note {
          .square-note-available {
            .available-square {
              display: inline-block;
              width: 30px;
              height: 20px;
              background: #fff04b;
              margin-right: 10px;
            }
          }
          .square-note-unavailable {
            .unavailable-square {
              display: inline-block;
              width: 30px;
              height: 20px;
              background: #cccccc;
              margin-right: 10px;
            }
          }
        }
        .book-free {
          margin-top: 10px;
        }
      }
    }
  }