.manage-doctor-container {
    padding: 7px;
    .manage-doctor-title {
      text-align: center;
      margin: 15px 0;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .save-content-doctor {
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 5px;
      border-radius: 3px;
      border: none;
      outline: none;
      background: orange;
      &:hover {
        opacity: 0.8;
      }
    }

    .create-content-doctor{
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 5px;
      border-radius: 3px;
      border: none;
      outline: none;
      background: rgb(11, 93, 216);
      color: white;
      &:hover {
        opacity: 0.8;
      }
    }
    .more-infor {
      display: flex;
      gap: 0 15px;
      padding-bottom: 15px;
      .content-left {
        width: 35%;
      }
      .content-right {
        width: 65%;
      }
    }
  }