.manage-doctor-container {
    padding: 7px;
    width: 100%;
    .manage-doctor-title {
      // text-align: center;
      // margin: 15px 0;
      // font-size: 20px;
      // font-weight: 600;
      // text-transform: uppercase;
      margin: 15px 0;
      font-size: 15px;
      color: #ff5400;
    }
    .save-content-doctor {
      float: right;
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 5px;
      border-radius: 3px;
      border: none;
      outline: none;
      background: orange;
      &:hover {
        opacity: 0.8;
      }
    }

    .save-content-doctor-disabled {
      pointer-events: none;
      float: right;
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 5px;
      border-radius: 3px;
      border: none;
      outline: none;
      background: rgb(175, 175, 175);
      &:hover {
        opacity: 0.8;
      }
    }

    .create-content-doctor{
      float: right;
      margin-top: 20px;
      margin-bottom: 30px;
      padding: 5px;
      border-radius: 3px;
      border: none;
      outline: none;
      background: rgb(11, 93, 216);
      color: white;
      &:hover {
        opacity: 0.8;
      }
    }
    .more-infor {
      display: flex;
      gap: 0 15px;
      padding-bottom: 15px;
      .content-left {
        width: 35%;
      }
      .content-right {
        width: 65%;
      }
    }
  }