@import "../../styles/common.scss";

.header-container {
    position: sticky;
    top: 0;
    right: 0px !important;
    z-index: 599;
    display: flex;
    justify-content: space-between;
    // background-color: $colormain;
    background-color: white;
    color: $common-text-color;
    height: 60px;
    // position: relative;
    flex-direction: row;
    box-shadow: inset 1px 1px 0 rgba($bg-scrollbar, 0.10), inset 0 -1px 0 rgba($bg-scrollbar, 0.07);

    .header-title {
        color: rgb(6,169,177);
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .btn-logout {
        // color: $common-text-color;
        color: rgb(37, 37, 37);
        line-height: 50px;
        height: 50px;
        padding: 0 10px;
        &:hover {
            // background-color: darken($colormain, 5);
            color: black;
        }
        i {
            font-size: $base-size + 1px;
        }
    }

    .languages {
        display: flex;
        align-items: center;
        opacity: 0.8;
        color: black;
        cursor: pointer;

        .welcome {
            margin-right: 10px;
        }

        .language-en {
            margin-right: 15px;
            margin-left: 15px;
            

            &.active {
                opacity: 1;
                color: greenyellow;
            }
        }

        .language-vi {

            &.active {
                opacity: 1;
                color: orange;
            }
        }
    }
}