.content-medical {
        // display: flex;
        max-width: 95%;
        min-height: 200px;
        margin: 10px auto;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
        border-radius: 8px;
      }