.manage-specialty-container {
    padding: 0 15px;
    .ms-title {
      text-align: center;
      margin: 10px 0;
      text-transform: uppercase;
      font-size: 17px;
      font-weight: 600;
    }
    .add-new-specialty {
      .btn-save-specialty {
        // float: left;
        border: none;
        background: orange;
        padding: 8px 5px;
        min-width: 75px;
        border-radius: 3px;
        margin: 15px 0;
      }
    }
  }

  .pagination {
    float: right;
    button {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
        border: none;
        background-color: transparent;
      }
      
    button:hover {
    background-color: #ddd;
    color: black;
    }
    
    .previous {
    background-color: #f1f1f1;
    color: black;
    }
    
    .next {
    background-color: #06a9b1;
    color: white;
    }
    
    .round {
    border-radius: 50%;
    }

    .disable {
        pointer-events:none;
    }
}